{% extends 'client/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{%  static 'css/client/style.css' %}">
    <link rel="stylesheet" href="{%  static 'css/client/style_animal_detail.css' %}">
{% endblock %}


{% block content %}
    <div class = "main_container">
        <div class = "left_section">
            <h2>{{ animal.title }}</h2>
            <div class = "main_image">
                <img src="{{ animal.image.url }}" alt="{{ animal.title }}">
            </div>
            <div class = "description_box">
                 <h4>Waga: {{ animal.weight }} kg</h4>
                 <h4>Urodziny: {{ animal.birth_date }} </h4>
                 <h4>Płeć: {{ animal.gender }} </h4>
                 <h4>Data przyjęcia do schroniska: {{ animal.admission_date }}</h4>

                <h3>Opis:</h3>
                <p>{{ animal.description }}</p>
            </div>
        </div>
        <div class = "right_section">
            <div class="filter_form_box">
                <form method="get">
                    Data
                    <div class="filter_box">
                        Od: {{ filter.form.start_date }}
                    </div>
                    <div class="filter_box">
                        Do: {{ filter.form.end_date }}
                    </div>

                    <div class="submit_button">
                        <button type="submit">Zastosuj</button>
                    </div>

                </form>
            </div>
            {% for term in terms %}
                <div class = "term">
                    <div class = "term_date">
                        Początek: {{ term.start_date }}
                    </div>
                    <div class = "term_date">
                        Koniec: {{ term.end_date }}
                    </div>
                    {% if term in user_reserved_terms %}
                    <div class = action_button>
                        <form action="{% url 'cancel_appointment' term.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button type="submit" class = "delete_button">Usuń z kalendarza</button>
                        </form>
                    </div>
                    {% elif term.status %}
                     <div class = action_button>
                        <form action="{% url 'make_appointment' term.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button type="submit" class = "add_button">Dodaj do kalendarza</button>
                        </form>
                    </div>
                    {% else %}
                     <div class = action_button>
                        <form>
                            <button type="button" class = "add_button" disabled >Dodaj do kalendarza</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% empty %}
            <p>No cats available right now :(</p>

        {% endfor %}
        </div>
    </div>







{% endblock %}