{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cat Store{% endblock %}</title> <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">


    {% block css %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/client/style.css' %}">
</head>
<body>

    {% block banner %}
    {% endblock %}


    <nav>
        <div class="nav_menu">
            {% if request.resolver_match.url_name != 'home' %}
                <a href="{% url 'home' %}" class="nav_button">Powrót do terminarza</a>
            {% endif %}
            {% if request.resolver_match.url_name != 'appointment_history' %}
                <a href="{% url 'appointment_history' %}" class="nav_button">Historia wizyt</a>
            {% endif %}


            {% if request.resolver_match.url_name != 'appointments' %}
            <a href="" class="nav_button cart_button">
                    Wizyty
            </a>
            {% endif %}
        </div>

        <div class="user_panel">
            <div class="user_section">
                {% if user.is_authenticated %}
                    Zalogowany jako: {{ user.username }}
                {% else %}
                    Nie jesteś zalgowany
                {% endif %}
            </div>
            <div class="user_controls">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}"><div class="nav_button">Wyloguj</div></a>
                {% else %}
                    <a href="{% url 'login' %}"><div class="nav_button">Zaloguj</div></a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <h2>Strona wykonana z miłości do kotów </h2><br>
        <ul>
            <li>Damian Ryczko</li>
            <li>Małgorzata Sokołwska </li>
            <li>Cripple (Michał Nagórny)</li>
        </ul>
        <br>
        <h4>Kontakt: 281188@student.pwr.edu.pl</h4>
    </footer>

</body>
</html>